---
import { db, Program,Event, eq, Date } from 'astro:db';
import { getEntry, render } from 'astro:content';

import Layout from '@/layouts/Layout.astro';
import EventContent from '@/components/Event.astro'
import GoBack from '@/components/GoBack.astro';
import LeftArrow from '@/assets/icons/left-arrow.svg';

export async function getStaticPaths() {
  const entities = await db.select().from(Program).innerJoin(Date, eq(Program.year, Date.programYear));
  return entities.map(entity => ({
    params: { year: entity.Date.programYear.toString(), slug: entity.Date.slug },
    props: { program: entity.Program, date: entity.Date }
  }));
}

const { date } = Astro.props;

const events = await db.select().from(Event).where(eq(Event.dateId, date.id));
const hasMultipleEvents = events.length > 1;
const collection = await getEntry('date', date.slug);
if(!collection) { throw new Error(`Entry not found for slug: ${date.slug}`); }

const { Content } = await render(collection);

---
<Layout title={`${date.title}`}>
  <div class="top-space" />
  <section class="page">
    <div class="page-title-container gsapped-in">
      <GoBack id="event-go-back" href={`/programma/${date.programYear}`} />
      <h1 id="program-year" class="page-title">{date.title}</h1>

      { hasMultipleEvents && ( 
        <div class="date-multiple-info"> 
          <span>{date.date.toLocaleDateString('it-IT')}</span>  
          <span>{date.location}</span>
        </div>)
      }
    </div>

    <div class="date-description gsapped-in">
      <Content />
    </div>


    {events.map(event => (
      <div class="card inverted gsapped-in">
        <span class="card-info important"> {event.dateTime} {!hasMultipleEvents && `| ${date.location}`} </span>
        <h2 class:list={['card-title', { multiple: hasMultipleEvents }]}> {event.title} </h2>
       { event.hasDescription && <EventContent slug={event.slug} /> }
      </div>
    ))}
  </section>
</Layout>

<script src="@/scripts/event.script.ts" />

<style scoped>
.date-description {
  text-align: center;
}

.date-multiple-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;

}
</style>
