---
import { eq, db, Date as DbDate } from 'astro:db';

interface Props { programYear: number; }

const { programYear} = Astro.props;
const dates = await db.select().from(DbDate).where(eq(DbDate.programYear, programYear))

---

<section class="dates-list">
  {dates.map((date) => (
    <div class="card interactive gsapped-in" data-slug={date.slug} data-year={programYear} >

    <span class="card-info important">
      {new Date(date.date).toLocaleDateString('it-IT')} | {date.location} 
    </span>

    <h2 class="card-title"> {date.title} </h2>
    <p class="card-info secondary"> {date.timeInfo} </p>
    </div>
  ))}
</section>

<style scoped>
.dates-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: flex-start;
}

</style>
